body {
	background: black;
  	font-family: 'Roboto', sans-serif;
	color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: lightblue;
}

.mid-section {
	font-size: 220px;

	position: absolute;
	left: 50%;
	top: 50%;
  z-index: 1;
	transform: translate(-50%, -50%);
  -webkit-animation:zoomin 1.6s linear 1;
} 

#name {
  color: white;
  text-decoration: none;
}

.entries-class {  
  position: absolute;
  font-size: 0px;  /* SET THIS TO 140px when entries are clicked */ 
}

.entries-class ul {
  list-style-type: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160%;
  background-color: black;
}

.entries-class li {
  text-align: center;
  padding: 0px;
}

#close-list {
  text-align: left;
  right: 44%;
  transform: translate(44%, 0%);
}

#close-list-link:hover {
  color: grey;
}

.entries-class li a{
  position: relative;
  color: white;
  list-style-type: none;
  margin: 0;
  text-decoration: none;
  background-color: black;
  transform: scale(1);
}

.entries-class li a:hover {
  background-color: black;
  color: orange;
  transform: scale(2);
}

.right-side-nav {
  height: 100%;
  width: 70px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
}

.left-side-nav {
  height: 100%;
  width: 600px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
}

.about-me-link-class {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.social-link {  
  animation: fadein 4s;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

#about-me-link-id {
  animation: fadein 4s;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */

  padding:20px;
  font-size: 60px;
  text-decoration: none;
  color: white;
}

#about-me-link-id:hover {
  color: gray;
}

.panel-slide-class {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: #111;
  overflow-x: hidden;
  transition: 0.4s;
}

.panel-slide-class h1 {
  top: 20%;
  font-size: 60px;
  padding: 30px;
}

.exit-logo-class {
  position: sticky;
  top: 50%;
  right: 0%;
  text-align: right;
}

#exit-about-me-link-id {
  padding: 20px;
  font-size: 40px;
  text-decoration: none;
  color: white;
}

#exit-about-me-link-id:hover {
  color: gray;
}

.about-me-slide-text-class{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: white;
}

.blog-ecsc-2019-class {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
  color: white;
  width: 80%;
}
.blog-ecsc-2019-class p {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

.blog-exchange-2019-class {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
  color: white;
}

.social-link ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100px;
	background-color: black;
}

.social-link li a {
	display: block;
	padding: 20px 16px;
	text-decoration: none;
}

.social-link li a:hover {
	background-color: black;
	color: white; 
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@-webkit-keyframes zoomin {
  0% {transform: translate(-50%, -50%)  scale(0);}
  50% {transform: translate(-50%, -50%) scale(0.5);}
  100% {transform: translate(-50%, -50%) scale(1);}
}

@keyframes zoomin {
  0% {transform: translate(-50%, -50%)  scale(0);}
  50% {transform: translate(-50%, -50%) scale(0.5);}
  100% {transform: translate(-50%, -50%) scale(1);}
} 
@-webkit-keyframes unblowup {
  0% {transform: translate(-50%, -50%)  scale(1.5);}
  50% {transform: translate(-50%, -50%) scale(1.2);}
  100% {transform: translate(-50%, -50%) scale(1.5);}
}

@keyframes fadein{
  from {opacity: 0;}
  to   {opacity: 1;}
}

@-webkit-keyframes fadein{
  from {opacity: 0;}
  to   {opacity: 1;}
}

